* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.welcome_section {
  padding: 50px 10px;
  text-align: center;
}

main {
  padding: 50px 0;
  min-height: 100vh;
  background-color: rgb(84, 83, 83);
}

.button {
  width: 150px;
  font-size: 18px;
  padding: 15px;
  border-radius: 40px;
  background-color: rgba(63, 88, 170, 0.626);
  border: 1px solid rgba(255, 255, 255, 0.526);
  color: white;
  text-align: center;
}

.button:hover {
  transform: scale(1.1);
  background-color: rgb(60, 91, 162);
}

.button_flex {
  display: flex;
  padding: 50px 0;
  gap: 30px;
}

header {
  padding: 20px 0;
  background-color: #babbbc;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper .nav ul {
  display: flex;
  gap: 1rem;
}

.nav-wrapper .nav ul .nav-link {
  text-transform: uppercase;
  font-size: 22px;
}

.nav-wrapper .nav ul .nav-link a.active,
.nav-wrapper .nav ul .nav-link a:hover {
  color: #0282F9;
  border-bottom: 1px solid #0282F9;
  cursor: pointer;
}

.info_wrapper {
  display: flex;
  gap: 40px;
}

.base_info {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.base_info .title {
  text-transform: uppercase;
  transition: all 400ms;
}

.base_info .info_details {
  font-weight: 600;
}

.base_info .description {
  padding: 15px 0;
  font-style: italic;
}

.comic_thumb {
  display: flex;
  width: 190px;
  height: 290px;
  align-items: center;
}

.comic_thumb img {
  min-width: 190px;
  transition: all 400ms;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wrapper .card {
  padding: 20px;
  border: 1px solid rgb(154, 151, 151);
  background-color: rgba(154, 153, 153, 0.626);
}

.wrapper .card:hover img {
  transform: scale(0.9);
}

.wrapper .card:hover .title {
  color: white;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 600px;
  /* align-content: center; */
  margin: 0 auto;
}

.form_wrapper .input_wrapper {
  padding: 15px 0;
  display: flex;
  gap: 15px;
  align-items: center;
}

.form_wrapper .input_wrapper .input_element {
  flex-grow: 1;
  border: none;
  background-color: rgba(255, 236, 236, 0.526);
}

.form_wrapper .input_wrapper label {
  flex-grow: 0;
  width: 100px;
  background-color: rgba(198, 194, 194, 0.797);
  font-size: 14px;
  font-weight: 600;
}

.form_wrapper .input_wrapper * {
  padding: 5px;
  line-height: 30px;
  border-radius: 4px;
  text-align: center;
}

.title_form {
  text-align: center;
  color: white;
  font-size: 35px;
  padding-bottom: 30px;
}

