* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.welcome_section {
  padding: 50px 10px;
  text-align: center;
}

main {
  padding: 50px 0;
  min-height: 100vh;
  background-color: rgb(84, 83, 83);
}

header {
  padding: 60px 0;
  background-color: #babbbc;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper .nav ul {
  display: flex;
  gap: 1rem;
}

.nav-wrapper .nav ul .nav-link {
  text-transform: uppercase;
  font-size: 22px;
}

.nav-wrapper .nav ul .nav-link a.active,
.nav-wrapper .nav ul .nav-link a:hover {
  color: #0282F9;
  border-bottom: 1px solid #0282F9;
  cursor: pointer;
}

.button {
  width: 150px;
  font-size: 18px;
  padding: 15px;
  border-radius: 40px;
  background-color: rgba(63, 88, 170, 0.626);
  color: white;
  text-align: center;
  margin-left: auto;
}

.button_wrapper {
  padding: 50px;
}

.info_wrapper {
  display: flex;
  gap: 40px;
}

.base_info {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.base_info .title {
  text-transform: uppercase;
  transition: all 400ms;
}

.base_info .info_details {
  font-weight: 600;
}

.base_info .description {
  padding: 15px 0;
  font-style: italic;
}

.comic_thumb {
  display: flex;
  width: 190px;
  height: 290px;
  align-items: center;
}

.comic_thumb img {
  min-width: 190px;
  transition: all 400ms;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wrapper .card {
  padding: 20px;
  border: 1px solid rgb(154, 151, 151);
  background-color: rgba(154, 153, 153, 0.626);
}

.wrapper .card:hover img {
  transform: scale(0.9);
}

.wrapper .card:hover .title {
  color: white;
}

